.Pokedex {
    text-align: center;
    background-color: rgb(98, 205, 219);
  }
  
  .Pokedex-title {
    color: red;
  }
  
  .Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .Pokedex-winner {
    font-weight: bold;
    color: green;
  }
  