.Pokecard {
    display: inline-block;
    width: 8em;
    background-color: rgb(94, 89, 110);
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }
  
  .Pokecard-title {
    color: red;
    font-weight: bold;
  }
  
  .Pokecard-data {
    font-size: 80%;
  }
  
